*{
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    padding: 20px;
    background-color: rgb(51, 41, 41);
    color: white;
    height: 100vh;
}

#log-out-btn{
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(235, 10, 10);
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#welcome{
    /* background-color: red; */
}