*{
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    background-color: rgb(51, 41, 41);
    color: white;
    height: 100vh;
}

.site-heading{
    text-align: center;
}

.homepage{
    height: 65vh;
    overflow: auto;
}

#post-title,
#post-content{
    background-color: rgb(57, 58, 59);
    color: white;
}

#publish-post,
#view-liked-post{
    background-color: black;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

#view-liked-post{
    background-color: white;
    color: black;
}

.post-view-div{
    box-shadow: 0 0 1px 3px rgba(128, 128, 128, 0.253);
}

::-webkit-scrollbar{
    display: none;
}


