* {
    margin: 0;
    padding: 0;
}

.array {
    padding: 20px;
}

.big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

form {
    text-align: left;
}

.logo {
    width: 150px;
}

.btn-div button {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid orange;
}

.btn-div button:hover {
    background-color: rgb(126, 149, 173);
}

.username-div {
    margin-top: 10px;
}

#sign-up-box,
#login-box {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.048);
    border-radius: 8px;
    width: 350px;
    text-align: left;
    padding-bottom: 20px;
    position: relative;
}

.logo-div {
    text-align: center;
    background-color: orange;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(7, 1, 59);
}

.btn-div {
    text-align: center;
    padding: 10px 0 0 0;
}

.all-input {
    /* background-color: red; */
    width: 100%;
}

.all-input input {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
}

.input-div {
    padding: 10px;
}

.sign-up-btn-div,
.login-btn-div {
    text-align: center;
}

.sign-up-btn-div button,
.login-btn-div button {
    background-color: orange;
    /* width: 100%; */
    border: 1px solid orange;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.sign-up-btn-div button:hover {
    background-color: rgb(126, 149, 173);
}

.login-btn-div button:hover {
    background-color: rgb(126, 149, 173);
}

.f-password {
    text-align: right;
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding-right: 10px;
}

#loading-div,
#loading-divL {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* .loader{
    font-size: 100px;
    color: orange;
} */

#loading-div,
#loading-divL {
position: absolute;
left: 60%;
top: 60%;
width: 50px;
height: 50px;
border-radius: 100%;
border: 16px solid black;
margin: -76px 0 0 -76px;
border-top: 16px solid orange;
animation: spin 2s linear infinite;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}